{% extends "frontend/_layout.html" %}
{% block content %}
    <div id="error">
        <h2 class="center">Erreur interne - <a class="underline" href="{% url
                "accueil" %}">Retour à l'accueil </a></h2>
    </div>
{% endblock %}
