<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Mont Chocolat - Quentin Besnier</title>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css?v={{ FORCE_CACHE_ID }}" />
        <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/favicon.png?v={{ FORCE_CACHE_ID }}" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="description" content="Site Internet : Mont Chocolat Avranches" />
        <meta name="author" content="Perrard Benjamin" />
        <meta name="keywords" content="Mont, MontChocolat, Chocolat, Chocolatier, Thé, Glacier, Patissier, Patisserie, Quentin, Besnier, Avranches" />
         <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery-1.9.1.min.js?v={{ FORCE_CACHE_ID }}"></script>
         <script type="text/javascript" src="{{ STATIC_URL }}scripts/script.js?v={{ FORCE_CACHE_ID }}"></script>
    </head>
    <body>
        <div id="top">
            <img src="{{ STATIC_URL }}images/titre.png?v={{ FORCE_CACHE_ID }}" alt="Mont Chocolat - Quentin Besnier"/>                
            <div id="menu">
                <ul>
                <li><a href="{% url "accueil" %}">Accueil</a></li>
                <li><a href="{% url "chocolats_catalogue" %}">Chocolats</a></li>
                <li><a href="{% url "macarons" %}">Macarons</a></li>
                <!--<li><a href="{% url "patisserie_catalogue" %}">Pâtisserie</a></li>-->
                <li><a href="{% url "acces" %}">Accès</a></li>
                </ul>
            </div>
        </div>
        <div id="container">
                {% block content %}
                {% endblock %}
        </div>
        <div id="bot">
            <p>Mont Chocolat - 9 Place littré 50300 Avranches</p>
            <p><a href="{% url "contact" %}">Nous contacter</a></p>
        </div>
    </body>
</html>
