{% extends "frontend/_layout.html" %}
{% block content %}
    <h1>Où nous trouver ?</h1>     
    <p>9 Place littré 50300 Avranches</p>
    <p>contact@montchocolat.fr</p>
    <p>Téléphone : 0233580574</p>
    
    <h1>Horaire d'ouverture</h1> 
    <p>Du mardi au samedi : de 8h30 à 19h15</p>
    <p>Et le dimanche : de 9h à 12h30</p>

    <img id="plan" height="640" width="640" src="{{ STATIC_URL }}images/plan.png?v={{ FORCE_CACHE_ID }}" alt="Mont Chocolat - Plan"/>
{% endblock %}
