{% extends "__ignore__/_layout.html" %}
{% block content %}
    <h1>Nos créations à la demande</h1>
    <table>
    <tr>
    <td>
    <img src="images/magasin.jpg" alt="Mont Chocolat - Quentin Besnier"/> 
    </td>
    <td>
    <p>Nous réalisaons sur commande des sujets en chocolat personnalisés.</p>
    <p>Vous souhaitez passer une commande ?</p>
    <h2><a href="contactez-nous.html">Contactez-nous.</a></h2>
    </td>
    </tr>
    </table>
    <table>
        <tr>
        <td> <img src="images/Creation/create_001.jpg" alt="001"/> </td>
        <td> <img src="images/Creation/create_002.jpg" alt="002"/> </td>
        </tr>
    </table>
{% endblock %}
