{% extends "frontend/_layout.html" %}
{% load thumbnail %}

{% block content %}
    <h1>{{catalogue.libelle}}</h1>
    <table>
        {% for subcatalogue in subcatalogues_list %}
            {% cycle '<tr>' '' %}
            {% if subcatalogue != None %}
            <td>
                <a href="{% url "products" catalogue_id=subcatalogue.id %}">
                    {% thumbnail subcatalogue.picture "350" crop="center" as im %}
                        <img width="{{ im.width }}" height="{{ im.height }}" src="{{MEDIA_URL}}{{ im }}" alt="{{ subcatalogue.libelle }}" />
                    {% endthumbnail %}
                </a>
                <h2 class="center"><a href="{% url "products" catalogue_id=subcatalogue.id %}">{{ subcatalogue.name }}</a></h2>
            </td>
            {% endif %}
            {% cycle '' '</tr>' %}
        {% endfor %}
    </table>
{% endblock %}
