{% extends "frontend/_layout.html" %}
{% load thumbnail %}

{% block content %}
    <h1>{{catalogue.libelle}}</h1>
    {% for subcatalogue, products_list in catalogues_products_map.items %}
        <h2 class="underline">{{ subcatalogue.libelle }} :</h2>
        <table>
            {% for product in products_list %}
                {% cycle '<tr>' '' '' '' %}
                {% if product != None %}
                <td>
                    <a href="{% url "product" product_id=product.id %}">
                    {% thumbnail product.picture "160" crop="center" as im %}
                        <img width="{{ im.width }}" height="{{ im.height }}" src="{{MEDIA_URL}}{{ im }}" alt="{{ product.name }}" />
                    {% endthumbnail %}
                    </a>
                    <a href="{% url "product" product_id=product.id %}">
                        <h3 class="center">{{ product.name }}</h3>
                    </a>
                </td>
                {% endif %}
                {% cycle '' '' '' '</tr>' %}
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}
