{% extends "frontend/_layout.html" %}
{% block content %}
    <h1>Nous contacter</h1>
    <table> 
        <tr>
            <td>
                <img width="283" height="198" src="{{ STATIC_URL }}images/magasin.jpg?v={{ FORCE_CACHE_ID }}" alt="Mont Chocolat - Quentin Besnier"/> 
            </td>
            <td>
                <p>Vous souhaitez passer une commande ? Vous avez des questions à nous poser ?</p>
                <br />
                <p>N'hésitez pas à nous contacter, nous nous efforcerons d'y répondre dans les meilleurs délais.</p>
                <br />
                <p>Mont Chocolat</p>
                <p>9 Place littré 50300 Avranches</p>
                <p>Mail : contact@montchocolat.fr</p>
                <p>Téléphone : 0233580574</p> 
            </td>
        </tr>
    </table>
{% endblock %}
