{% extends "frontend/_layout.html" %}
{% block content %}
    <div id="slides">
        <img id="slides2" width="640" height="480" src="{{ STATIC_URL }}images/accueil/piece_montee.jpg?v={{ FORCE_CACHE_ID }}" alt="Piece montée"/>
        <img class="hidden" id="slides3" width="640" height="480" src="{{ STATIC_URL }}images/accueil/pirate.jpg?v={{ FORCE_CACHE_ID }}" alt="Pirate"/>
        <img class="hidden" id="slides1" width="640" height="480" src="{{ STATIC_URL }}images/accueil/lapin_oeuf.jpg?v={{ FORCE_CACHE_ID }}" alt="Lapin et son oeuf"/>
        <img class="hidden" id="slides4" width="640" height="480" src="{{ STATIC_URL }}images/accueil/photo4.jpg?v={{ FORCE_CACHE_ID }}" alt="Mont Chocolat"/>
    </div>
{% endblock %}
