{% extends "frontend/_layout.html" %}

{% block content %}
    <h1>Nos variétés de macarons (20 parfums)</h1>
    <table>
        <tr>
        <td> 
        <img width="350" height="467" src ="{{ STATIC_URL }}images/macarons/macarons.jpg?v={{ FORCE_CACHE_ID }}" alt="Photos Macarons"/>  
        </td>
        <td>
        	<ul>
        	<li>Vanille</li> 
        	<li>Chocolat</li> 
        	<li>Pistache</li> 
        	<li>Framboise</li>
        	<li>Café</li> 
        	<li>Caramel au beurre salé</li>
        	<li>Orange</li>
        	<li>Citron</li> 
        	<li>Cassis</li>
        	<li>Passoa</li>
        	<li>Pain d'épices</li> 
        	<li>Noix de Coco</li>
        	<li>Pomme Tatin</li>
        	<li>Fraise</li> 
                <li>Cramberry</li>
                <li>Banana Split</li>
                <li>Rhubarbe/Fraise</li>
                <li>Pêche/Vanille</li>
                <li>Melon</li>
        	</ul>
        </td>
        </tr>
    </table>
{% endblock %}
