* {
    padding : 0;
    margin : 0;
    color : #544035;
/*    margin : 0.3em 0.3em;*/
}

html {
    background-color: #544035;
    font-family: 'Palatino', 'Arial', 'Calibri', 'serif';
}

body {
    margin: auto;
    width: 50em;
}

p {
    color : #000000;
    margin-left : 1.5em;
}

a img {
    border : none;
}

li {
    margin-left : 1em;
}

.clear {
    clear : both;
}

.hidden {
    display : none;
}

.center {
    text-align : center;
}

.underline {
    text-decoration: underline;
}

#menu ul {
    color : white;
    margin : 0 1em 0.5em 1em;
}

#menu ul li {
    display : inline;
}

#menu ul li a, #bot a {
    color: white;
    text-decoration: none;
    padding: 0.5em;
    font-weight: bold;
    font-size: 18px;
}

#menu ul li a:hover, #bot a:hover {
    text-decoration : underline;
}

#menu ul li a {
    text-transform: uppercase;
}

#top img {
    margin: 0 auto;
}

#top *, #bot *{
    color: white;
    text-align: center;
}

#container {
    background-color:#D0E09D;
    border:0.5em solid #6ba626;
    margin : 0.5em 0.5em 0.5em 0.5em;
    min-height: 480px;
}

#container h1, h2, h3 {
    padding: 0.5em;
    font-weight: bold;
}

#container h2 {
    font-size: 1.5em;
}

#container h2 {
    font-size: 1.25em;
}

#container h3 {
    font-size: 1em;
}

#container #plan {
    margin-left: auto;
    margin-right: auto;
}

#container table {
    margin-left: auto;
    margin-right: auto;
}

#container table img {
    margin-left: auto;
    margin-right: auto;
}

/******************************************************************************
 * Error
 *****************************************************************************/

#error {
    margin-top: 7em;
}

/******************************************************************************
 * Images
 *****************************************************************************/ 

img {
    display: block;
    padding: 0.5em 0.5em;
}

img.product_image {
    margin-right: auto;
    margin-left: auto;
}

/******************************************************************************
 * Slides
 *****************************************************************************/

div#slides {
    margin-top: 1em;
    margin-right: auto;
    margin-left: auto;
    width: 640px;
    height: 500px;
}

div#slides img{
    position: absolute;
    padding: 0;
}
